// small browser window 768 x any
@media only screen
    and (min-width: 768px){
        .container{
            &__left,
            &__right{
                margin-top: 3em;
                margin-bottom: 2em;
                &--about{
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 1.5em;
                    margin: 0;
                    margin-top: 1.5em;
                }
                &--prices{
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                &__price-cards{
                    width: 50%;
                    margin: 0;
                    padding: 0;
                }
            }
            &__logo{
                width: calc(50vw - 25%);
            }
            &__text{
                margin: 0 1em;
            }
            &__gallery{
                padding-top: 3em;
                    &__swiper{
                        height: 60vh;
                    &__slide{
                        &__img{
                            width: 100%;
                            height: 400px;
                        }
                        &.pos-0{
                            top: 0;
                            left: 0;
                            width: 25%;
                        }
                        &.pos-1{
                            top: 2em;
                            left: 25%;
                            width: 50%;
                        }
                        &.pos-2{
                            top: 0;
                            left: 75%;
                            width: 25%;
                        }
                    }
                }
            }
        }
        .footer{
            margin-top: 20%;
        }
    }

// 1024 x 768
@media only screen
    and (min-width: 1024px)
    and (min-height: 768px){
        .container{
            &__logo{
                width: calc(50vw - 40%);
            }
            &__text{
                padding: 1.5em 2em 0 2em;
                font-size: 1.2em;
                &--motto{
                    padding: 0 1em;
                    font-size: 12px;
                }
                &--price-list{
                    margin: 0;
                    padding: 0;
                    padding-top: 0.5em;
                }
            }
        }        
        .footer{
            margin-top: 8%;
        }
    }

// 1025+ x 720
@media only screen
and (min-width: 1025px)
and (min-height: 768px){
    .container__gallery__swiper__slide{
        &.pos-0{
            top: -0.5em;
        }
        &.pos-1{
            top: 2em;
        }
        &.pos-2{
            top: -0.5em;
        }
    }
}    

//  1280 x 720
@media only screen
    and (min-width: 1280px)
    and (min-height: 720px){
        .container{            
            &__logo{
                width: calc(50vw - 60%);
            }
            &__text{
                padding: 1.5em 6em 0 5.5em;
            }
            &__photo{
                width: 330px;
            }
            &__right__price-cards{
                padding-top: 2em;
            }
            &__gallery__swiper__slide{
                &.pos-0{
                    top: -1em;
                }
                &.pos-1{
                    top: 2em;
                }
                &.pos-2{
                    top: -1em;
                }
            }
        }
    }