@import './variables';
@import './icons';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;900&display=swap');

html:lang(en) :not(:lang(en)),
html:lang(nl) :not(:lang(nl)),
html:lang(hu) :not(:lang(hu)){
    display: none;
}

.lang-selector{
    position: fixed;//absolute;
    top: 1em;
    left: 4.5em;
    width: 3.5em;
    height: 2em;
    background: transparent;
    font-family: 'Bodoni Moda', serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-color;
    border: none;
    z-index: 2;
}
option{
    background: black;
}

.hamburger{
    position: fixed;//absolute;
    top: 1em;
    left: 0;
    z-index: 2;
    &::before{
        @include icons("Free", 22px, 900);
        content: '\f550';
        color: $text-color;
        padding-left: 1em;
        cursor: pointer;
        transition: 500ms;
    }
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100%; //max page height
    padding: 0;
    padding-top: 3.5em;
    position: fixed;
    top: -1em;
    left: -50vw;
    transition: 500ms;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    &__item{
        position: relative;
        padding: 0.5em;
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
        background: radial-gradient(closest-side at 30% 50%, rgba(255,255,255,0.3), rgba(255,255,255,0));
        background-size: 300%;
        background-position: right;
        font-size: 18px;
        transition: 500ms;
        &:hover,
        &.active{
            border-bottom: 1px solid $text-color;
            background-position: left;
        }
    }
    &__link{
        font-family: 'Bodoni Moda', serif;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-color;
        &:visited{
            color: $text-color;
        }
        &:active{
            color: #666;
        }
    }
}
.open{
    &::before{
        transform: rotateZ(90deg);
    }
    left: 0;
}

@media only screen and (min-width: 768px){
    .hamburger{
        display: none;
    }
    .menu{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 0;
        top: 0;
        left: 0;
    }
}