// iphone 6/7/8 ios11
// portrait
@media only screen
    and (min-width: 375px)
    and (min-height: 667px){
        body{
            background: red;
        }          
    }
// landscape
@media only screen
    and (min-width: 667px)
    and (min-height: 375px){
        body{
            background: red;
        }
    }

// iphone 6/7/8 Plus ios11
// portrait
@media only screen
    and (min-width: 414px)
    and (min-height: 736px){
        body{
            background: orange;
        }
    }
// landscape
@media only screen
    and (min-width: 736px)
    and (min-height: 414px){
        body{
            background: orange;
        }
    }

// iphone X/XS ios12
// portrait
@media only screen
    and (min-width: 375px)
    and (min-height: 812px){
        body{
            background: pink;
        }
    }
// landscape
@media only screen
    and (min-width: 812px)
    and (min-height: 375px){
        body{
            background: pink;
        }
    }