// ipad old
// portrait
@media only screen
    and (min-width: 768px)
    and (max-width: 1024px)
    // and (resolution: 2dppx)
    and (-webkit-device-pixel-ratio: 2){
        .btn{
            display: flex;
            margin: 2em;
        }
        .footer{
            margin-top: 10%;
        }
    }
// landscape
@media only screen
    and (min-width: 1024px)
    // and (resolution: 2dppx)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape){
        .container__photo{
            width: 25%;
        }
        .container__gallery__swiper{
            height: 80vh;
        }
        .btn{
            display: none;
        }
        .footer{
            margin-top: 0;
        }
    }

// landscape
@media only screen
    and (min-width: 1112px)
    // and (resolution: 2dppx)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape){
        .container__photo{
            width: 35%;
        }
    }