// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css");


$text-opacity--start: 0.3;
$text-opacity--end: 0.5;
$text-opacity--normal: 1;
// $text-color: rgba(178, 44, 219, $text-opacity--normal);
// color: rgb(160, 31, 219)

$text-color: rgba(247, 230, 230, $text-opacity--normal);

