@import './menu1';


body{
    margin: 0;
    padding: 0;
    // height: 100vh;
    // background-image: linear-gradient(to bottom, rgba(255,255,255,0) 70%, rgba(255,255,255,1)), url('../tmp/stacks_image_468.0.0.0.0.jpg');
    // background-position: 25%;
    // background-repeat: no-repeat;
    // background-size: cover;//200% 100vh;
    // background: linear-gradient(to bottom right, #00eeff, #00ff88);
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    // overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
}
// .glass__background{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     width: 95%;
//     position: relative;
//     margin: 2rem auto;
//     padding: 0;
//     overflow-x: hidden;
//     background: 
//         linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)),
//         linear-gradient(-10deg, rgba(0,0,0,0), rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
//     border-style: solid;
//     border-width: 2px;
//     border-top-color: rgba(255,255,255,0.2);
//     border-right-color: rgba(255,255,255,0.3);
//     border-left-color: transparent;
//     border-bottom-color: rgba(184, 169, 169, 0.233);
//     border-radius: 2em;
//     backdrop-filter: blur(0.2em);
// }

// .circle{
//     position: absolute;
//     top: 0;
//     left: -17vh;
//     width: 300px;
//     height: 300px;
//     border-radius: 50%;
//     background-color: rgb(160, 31, 219);
//     z-index: -1;
//     filter: blur(0.2em);  
// }

.hero,
.about,
.prices,
.product,
.contact{
    display: flex;
    &__left{
        width: 50vw;
        background: url('../tmp/bg-new.jpg');
        background-position: 75%;    
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__right{
        flex-direction: column;
        align-items: center;
        width: 50vw;
        background: black;
    }
    &__logo{
        width: 100%;
        height: 3.5em;
        text-align: center;
    }
    &__title{
        margin: 0;
        font-family: 'Bodoni Moda', serif;
        font-size: 1.8em;
        text-transform: uppercase;
        color: $text-color;//rgb(233, 220, 220);
        &--sub{
            text-transform: unset;
            font-style: italic;
        }
    }
    &__text{
        // margin: 0; ???
        padding: 0.5em;
        padding-top: 1.5em;
        color: $text-color;//rgb(247, 216, 216);//rgb(233, 220, 220);
        &--motto{
            margin: 0;
            padding: 0 1em;
            // width: 70%;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
        }
        &--price-list{
            margin: 0;
            padding: 0.5em;
            padding-bottom: 0;
            font-size: 13px;
            text-transform: uppercase;
        }
    }

    &__desc-container{
        flex-direction: column;
        align-items: center;
    }

    &__desc__photo{
        margin: 1em;
        width: 100px;
        height: 100px;
        border: 2px solid white;
        border-radius: 50%;
        // transform: translateY(-50%);
    }

    &__cards{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        // background: aquamarine;
    }

    &__btn{
        // width: 220px;
        // height: 180px;
        padding: 0.5em;
        // box-shadow: 1px 2px 3px rgba(247, 230, 230, $text-opacity--end);
        background: linear-gradient(to right bottom, rgba(255,255,255, 0.1) 50%, rgba(247, 230, 230, $text-opacity--end));
        background-position: left;
        background-size: 200%;
        backdrop-filter: blur(0.2em);
        // border: none;
        // border same as glasbackground
        border-style: solid;
        border-width: 1px;
        border-top-color: rgba(255,255,255,0.2);
        border-right-color: rgba(255,255,255,0.3);
        border-left-color: transparent;
        border-bottom-color: rgba(184, 169, 169, 0.233);
        border-radius: 3px;
        font-size: 14px;
        text-transform: uppercase;
        text-shadow: 0px 0px 2px rgba(247, 230, 230, $text-opacity--start);;
        color: rgba(247, 230, 230, 0.6);
        cursor: pointer;
        transition: 500ms;
        &:hover{
            background-position: right;   
        }
    }

    .about__left{
        background: url('../tmp/8ayoy5lwqy151.jpg');
        background-position: 40%;    
        background-size: cover;
        background-repeat: no-repeat;
    }
    .prices__left{
        background: url('../tmp/unnamed.jpg');
        background-position: 40%;    
        background-size: cover;
        background-repeat: no-repeat;
    }
    .product__left{
        background: url('../tmp/la-roche-posay-silicium-n24-rouge-parfait-7ml.jpg');
        background-position: 40%;    
        background-size: cover;
        background-repeat: no-repeat;
    }
    .contact__left{
        background: url('../tmp/1b032032b3941f54cd4db86bb4751206.jpg');
        background-position: 40%;    
        background-size: cover;
        background-repeat: no-repeat;
    }

    // &__scroll{
    //     //icons
    //     font-style: normal;
    //     font-variant: normal;
    //     text-rendering: auto;
    //     -webkit-font-smoothing: antialiased;
    //     font-family: "Font Awesome 5 Free";
    //     font-size: 3em;
    //     font-weight: 600;
    //     color:rgba(160, 31, 219, 0.5);
    //     cursor: pointer;
    //     &--left::before,
    //     &--right::after{
    //         position: absolute;
    //         top: 50%;
    //     }
    //     &--left::before{
    //         content: '\f137';
    //         left: 0.5em;
    //     }
    //     &--right::after{
    //         content: '\f138';
    //         right: 0.5em;
    //     }
    // }
}

.social-media{
    display: inline-block;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    padding: 0.5em;
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)),
        linear-gradient(-10deg, rgba(0,0,0,0), rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); 
    color: $text-color;
    border: 1px solid rgba(247, 230, 230, $text-opacity--end);; //rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Brands";
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
    &--fb{
        &::before{
            content: '\f39e';
        }
        &:hover{
            // background: none;
            background: #3b5998;
            color: white;
        }
    }        
    &--insta{
        &::before{
            content: '\f16d';
        }
        &:hover{
            background: #8a3ab9;
            color: white;
        }
    }
    &--twitter{
        &::before{
            content: '\f099';
        }
        &:hover{
            background: #00acee;
            color: white;
        }
    }
}

.icons{
    display: inline-block;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    padding: 0.5em;
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)),
        linear-gradient(-10deg, rgba(0,0,0,0), rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.3), rgba(255,255,255,0.1)); 
    color: $text-color;
    border: 1px solid rgba(247, 230, 230, $text-opacity--end);; //rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    &--address{
        &::before{
            content: '\e065';
        }
    }
    &--tel{
        &::before{
            content: '\f879';
        }
    }
    &--email{
        &::before{
            content: '\f1fa';
        }
    }
    &--msg{
        &::before{
            content: '\f0e0';
        }
    }
}

.divider{
    width: 80%;
}
// .feature{
//     justify-content: center; //for flex on the page
//     display: grid;
//     grid-template-columns: 80%;
//     grid-gap: 1em;
//     text-align: center;
//     &__cards{
//         margin: 2em 0;
//         border-top-width: 6px;
//         border-top-style: solid;
//         &:nth-child(1){
//             border-top-color: #f79f89;
//             color: #f79f89;
//             & :is(button){
//                 background-color: #f79f89;
//             }
//         }
//         &:nth-child(2){
//             border-top-color: #a01fdb;
//             color: #a01fdb;
//             & :is(button){
//                 background-color: #a01fdb;
//             }
//         }
//         &:nth-child(3){
//             border-top-color: #fd4bb3;//#f52664;
//             color: #fd4bb3;
//             & :is(button){
//                 background-color: #fd4bb3;
//             }
//         }
//     }
//     &__title{
//         text-transform: uppercase;
//     }
//     &__desc{
//         color:rgb(117, 109, 109);
//     }
//     &__btn{
//         text-transform: uppercase;
//         text-align: center;
//         color: #ece2df;
//         border: none;
//         border-radius: 3px;
//         padding: 0.5em 1em;
//     }
//     &__img{
//         width: 100%;
//         height: 200px;
//     }
// }
