@import './menu1';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    height: 100vh;
    background-image: url('../tmp/stacks_image_468.0.0.0.0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background: linear-gradient(to bottom right, #00eeff, #00ff88);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.glass__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    // height: 80%;
    margin: 2rem auto;
    padding: 0;
    overflow-x: hidden;
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)),
        linear-gradient(-10deg, rgba(0,0,0,0), rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    border-style: solid;
    border-width: 2px;
    border-top-color: rgba(255,255,255,0.2);
    border-right-color: rgba(255,255,255,0.3);
    border-left-color: transparent;
    border-bottom-color: rgba(184, 169, 169, 0.233);
    border-radius: 2em;
    backdrop-filter: blur(0.2em);
}

.circle{
    position: absolute;
    top: 0;
    left: -17vh;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(160, 31, 219);
    z-index: -1;
    filter: blur(0.2em);  
}

.hero{
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    display: flex;
    flex-direction: column;
    &--left{
        // position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        height: 76vh;
        width: 65%;
        padding: 1em;
        // background: rgb(169, 173, 172);
    }
    &--right{
        margin-top: 30vh;
        position: relative;
        order: 3;
    }
    &__logo{
        width: 250px;
        height: 50px;
        text-align: center;
        // background: lime;
    }
    &__img{
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: -5em;
    }
    &__title{
        margin: 0;
        font-family: 'Cinzel', serif;
        font-size: 2.5em;
        font-weight: 900;
        color: rgb(247, 216, 216);//rgb(233, 220, 220);
        }
    &__text{

        // width: 100%;
        // height: 100%;
        // margin: 0;
        // padding: 0;
        padding-top: 2.5em;
        text-transform: uppercase;
        font-size: 22px;
        color: rgb(160, 31, 219);//rgb(247, 216, 216);//rgb(233, 220, 220);
        &--last{
            letter-spacing: 0.3em;
            font-family: 'Cinzel', serif;
            font-size: 1.3em;
            font-weight: 600;
            color: #E332F0;//rgb(160, 31, 219);
        }
    }
    &__btn{
        // width: 220px;
        // height: 180px;
        padding: 0.5em;
        box-shadow: 0 5px 5px rgba(160, 31, 219, 0.5);
        background: linear-gradient(to right bottom, rgba(255,255,255, 0.1) 50%, rgba(160, 31, 219, 0.5));
        background-position: left;
        background-size: 200%;
        backdrop-filter: blur(0.2em);
        // border: none;
        // border same as glasbackground
        border-style: solid;
        border-width: 1px;
        border-top-color: rgba(255,255,255,0.2);
        border-right-color: rgba(255,255,255,0.3);
        border-left-color: transparent;
        border-bottom-color: rgba(184, 169, 169, 0.233);
        border-radius: 3px;
        font-size: 22px;
        text-shadow: 0px 0px 2px rgba(160, 31, 219, 0.3);
        color:rgba(160, 31, 219, 0.5);
        cursor: pointer;
        transition: 500ms;
        &:hover{
            background-position: right;   
        }
    }
    &__galery{
        width: 100%;
        height: 100%;
    }
    &__scroll{
        //icons
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-size: 3em;
        font-weight: 600;
        color:rgba(160, 31, 219, 0.5);
        cursor: pointer;
        &--left::before,
        &--right::after{
            position: absolute;
            top: 50%;
        }
        &--left::before{
            content: '\f137';
            left: 0.5em;
        }
        &--right::after{
            content: '\f138';
            right: 0.5em;
        }
    }
}


.feature{
    order: 2; //for flex on the page
    justify-content: center; //for flex on the page
    display: grid;
    grid-template-columns: 80%;
    grid-gap: 1em;
    text-align: center;
    &__cards{
        border-top-width: 6px;
        border-top-style: solid;
        &:nth-child(1){
            border-top-color: #f79f89;
            color: #f79f89;
            & :is(button){
                background-color: #f79f89;
            }
        }
        &:nth-child(2){
            border-top-color: #a01fdb;
            color: #a01fdb;
            & :is(button){
                background-color: #a01fdb;
            }
        }
        &:nth-child(3){
            border-top-color: #fd4bb3;//#f52664;
            color: #fd4bb3;
            & :is(button){
                background-color: #fd4bb3;
            }
        }
    }
    &__title{
        text-transform: uppercase;
    }
    &__desc{
        color:rgb(117, 109, 109);
    }
    &__btn{
        text-transform: uppercase;
        text-align: center;
        color: #ece2df;
        border: none;
        border-radius: 3px;
        padding: 0.5em 1em;
    }
    &__img{
        width: 100%;
        height: 200px;
    }
}

.contact{
    order: 4;
}

@media screen and (min-width: 648px){
    .glass__background{
        width: 80%;
    }
}